.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #141b41;
  color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  height:100px;
  font-size: large;
  @media (max-width: 768px) {
    font-size: x-small;
    padding: 10px 10px;
  }
  }
  
  .footer-left {
    flex: 1;
  }
  
  .footer-right {
    flex: 1;
  }
  .footer a {
    color: #e74c22;
  }