/* Section.module.css */
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;

  @media (max-width: 768px) {
    padding: 15px;
  }
  
}

.content {
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  background-color: #141b41;

  @media (max-width: 768px) {
    flex-direction: column; /* Stack elements vertically */
  }
}

.textSide {
  flex: 1;
  padding: 20px;
  color: #fff;
}

.textSide h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.buttonSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-position: center;
  position: relative;
  transition: transform 0.3s ease;
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #090c1d;
  @media (max-width: 768px) {
    flex-direction: column; /* Stack elements vertically */
  }
}

.projectButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin: 5px 0;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.content:hover {
  background-color: #0056b3;
}

.icon {
  margin-right: 10px;
}

.content:hover .content{
  transform: scale(1.01);
  background-color: #007bff;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}

.content:hover .buttonSide {
  transform: scale(1.01);
  background-color: #007bff;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}